<h2 class="display-2 mt-3">
  Hrnutí
</h2>
<p>
  Aplikace založené na principech SPA nám přinášení mnohu vylepšení <br>
  Na každé komponentě projektu mohou pracovat různí lidé, aniž by si vzájemně měnili něco pod rukama,
  aplikace působí mnohem lepším dojmem na uživatele a jsou o poznání rychlejší.
</p>
<p>
  Avšak tyto aplikace mají jednu zásadní nevýhodu a tou jsou search engigy. Absolutní většina těchto algoritmů není schopna
  správně takovou stránku zobrazit, takže naše aplikace není ve vyhledávačích vidět. Jedniný search engin, který to dokáže, je google.
</p>
<div class="row">
  <div class="col u-text-center">
    <app-next-btn [navigate]="'konec'"></app-next-btn>
  </div>
</div>
