<h2 class="display-2 mt-3">
  Shrnutí
</h2>
<p class="block-text">
  Aplikace založené na principech SPA nám přinášení mnohu vylepšení.
  Na každé komponentě projektu mohou pracovat různí lidé, aniž by si vzájemně měnili něco pod rukama,
  aplikace působí mnohem lepším dojmem na uživatele a jsou o poznání rychlejší.
</p>
<p class="block-text">
  Avšak tyto aplikace mají jednu zásadní nevýhodu a tou jsou search engigy. Absolutní většina těchto algoritmů není schopna
  správně takovou stránku zobrazit, takže naše aplikace není ve vyhledávačích vidět. Jedniný search engin, který to dokáže, je Google.
  Další nevýhodou je ta, že nejnovější verze těchto aplikací není možné správně sputit ve starších prohlížečích.
</p>
<div class="row">
  <div class="col u-text-center">
    <app-back-btn [navigate]="'/servrova-cast'"></app-back-btn>
    <app-next-btn [navigate]="'formular'"></app-next-btn>
  </div>
</div>
