<div class="center">
  <div [@slideInOut]>
    <p>
      Jedny z nejmodernějších webových aplikací jsou takzvané SPA (single page applications) aplikace.
      Uživateli je při prvním požadavku na stránku navrácena stránka s primitivní HTML strukturou. (zobrazte si zdrojový kód této stránky)
      Tato stránka si k sobě dotáhle obří balík javascriptu a stylů, které se pak starají o její funkčnost a vzhled.
      První požadavek je sice delší, ale ty ostatní už jsou o dost rychlejší, protože se posílají jen data a né celá HTMlL stránka.
    </p>
    <div class="row">
      <div class="col u-text-center">
        <app-next-btn [navigate]="'klientska-cast'"></app-next-btn>
      </div>
    </div>
  </div>
</div>
