<div>
  <h1 class="display-1 mt-5">Klientská část</h1>
  <p class="u-margin-top-medium block-text">
    Tato část má za úkol zobrazovat uživateli to, co vidí a co možná mu nejvíc zpříjemnit pobyt na stránce.
    Dále pak dynamicky mění stránku za chodu.
  </p>

  <p class="block-text">
    Na začátku se uživateli načte primitivní HTML stránka, která si k sobě asynchroně dotáhne balík javascriptu, který si
    celý provoz stránky vezme na starost.
    Například jediný HTML tag na této stránce je v základu tag <mark>&lt;app-root&gt;</mark>.
  </p>

  <p class="block-text">
    Se servrovou částí komunikuje tak, že data získáná od uživatele zformátuje do JSON formátu
    a pošle je zpět na server, kde to nějaký server (nejčastěji nginx) přeproxuje na servrovou část.
    Jelikož se volání provádí asynchroně, tak jede aplikace pořád svižně.
  </p>

  <div class="row">
    <div class="col u-text-center">
      <button mat-raised-button color="primary" (click)="onExamplesClick()">Zobrazit příklady</button>
    </div>
  </div>

  <div class="row">
    <div class="col u-text-center">
      <app-back-btn [navigate]="'/deleni'"></app-back-btn>
      <app-next-btn [navigate]="'/servrova-cast'"></app-next-btn>
    </div>
  </div>
</div>
